.banner {
    border-radius: 25px;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.banner-picture {
object-fit: cover;
height: 100%;
width: 100%;
}

.banner-title {
    position: absolute;
    color: white;
    top: 50%;
}